<div class="board">
    <div class="board-wrapper">
        <h3 class="editable">Board Agenda</h3>
        <ul>
            {% for item in page.board_agenda %}
            <li>
                <a href="{{item.file_path}}" title="{{item.title}}" target="_blank">{{item.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="board-wrapper">
    <h3 class="editable">Board Minutes</h3>
    <ul>
        {% for item in page.board_minutes %}
        <li>
            <a href="{{item.file_path}}" title="{{item.title}}" target="_blank">{{item.title}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
</div>