<footer class="wrap clearfix">
    <div class="footer-inner clearfix container-padding-medium">
        <div class="one">
            <h2 class="editable">Find your genius </h2>
            <p class="editable">Compass is a learner-centered, design thinking education model guiding 6-12 graders along a journey to find their own genius. Employing creative problem-solving and real-world, true-grit-building experiences, kids leave Compass with a portfolio,
                a plan and a clear path to becoming amazing young adults and impactful world citizens.</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/CCCFortCollins/" target="_blank"><img src="/assets/images/icons/facebook.svg" alt="Facebook"></a>
                <a href="https://www.instagram.com/cccfortcollins/" target="_blank"><img src="/assets/images/icons/instagram.svg" alt="Instagram"></a>
                <a href="https://twitter.com/cccfortcollins" target="_blank"><img src="/assets/images/icons/twitter.svg" alt="Twitter"></a>
                <a href="https://www.snapchat.com/" target="_blank"><img src="/assets/images/icons/snapchat.svg" alt="Snapchat"></a>
            </div>
        </div>
        <div class="two">
            <nav class="footer-nav">
                {% include nav.html nav=site.data.footer-menu %}
            </nav>
        </div>
        <div class="three">
            <a href="https://www.google.com/maps/place/2105+S+College+Ave,+Fort+Collins,+CO+80525" target="_blank" title="Compass">
                <img src="{{site.cloudinaryurl}}image/fetch/w_350,h_156,c_fill,c_fill,q_jpegmini/{{site.url}}/assets/images/footer/compass-building.jpg" alt="Compass" data-img="{{site.url}}/assets/images/footer/compass-building.jpg" data-width="350px" data-height="156px"></a>
            <div class="clearfix container-padding-small">
                <div class="left">
                    <p class="editable"><strong>Compass School:</strong><br/> 2105 South College Ave.<br/> Fort Collins, CO 80525</p>
                </div>
                <div class="right">
                    <a href="https://www.google.com/maps/place/2105+S+College+Ave,+Fort+Collins,+CO+80525" target="_blank"><img src="/assets/images/icons/waypoint.svg" alt="waypoint"></a>
                </div>
            </div>

        </div>

    </div>
    <div class="footer-inner">
        <div class="full">
            <p class="editable">&copy; 2018 Compass Community Collaborative School. All Rights Reserved. Website Design: <a href="https://toolboxcreative.com/" target="_blank">Toolbox Creative</a>. Website Develompent: <a href="https://www.variantstudios.com" target="_blank">Variant Studios</a>.</p>
        </div>
    </div>

</footer>