<aside class="sidebar sticky">
        <div class="toc"></div>
        <div class="sidebar-logos">
            <a href="/development/" class="gys-logo"><img src="/assets/images/logos/gys-dev-logo.svg" alt="GYS Development"></a> 
            <a href="/property-management/" class="gys-logo"><img src="/assets/images/logos/gys-llc-logo.svg" alt="GYS Property Management"></a> 
            <a href="/general-contracting/" class="gys-logo"><img src="/assets/images/logos/gys-gc-logo.svg" alt="GYS General Contracting"></a>
        </div>
</aside>