<form action="https://wt-bbb812ec6f1b786e8adf620306562f3c-0.run.webtask.io/stripe-payment?currency=USD&amount={{page.stripe.price}}&description={{page.stripe.description}}" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{page.stripe.public_key}}"
    data-amount="{{page.stripe.price}}"
    data-name="Compass Community Collaborative School"
    data-description="{{page.stripe.description}}"
    data-label="{{page.stripe.button_label}}"
    data-zip-code="true"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-allow-remember-me="false">
  </script>
</form>
<div id="stripe-message-success">{{page.stripe.success_message}}</div>
<div id="stripe-message-fail">{{page.stripe.failure_message}}</div>