<div class="team-list">
{% assign team_position = site.team_positions | sort:"order" %}
{% for team_position_titles in team_position   %}
  <h2>{{team_position_titles.title}}</h2>
{% assign team_position_name = team_position_titles.url | remove:"/" | remove:"team_positions"%}
{% assign team = site.data.team | where:'team_position', team_position_name  %}

{% for item in team %}  
  <div class="team--member clearfix">
    <img src="{{ item.image_path }}" alt="{{ item.name }}"/>
    <div class="team--member-details">
      <h3>{{ item.name }}</h3>
      <h6>{{ item.position }} </h6>
      <p>{{ item.bio }}</p>
    </div>
  </div>
{% endfor %}
{% endfor %}  


</div>