<form action="#" method="post" class="contact-form">
    <input type="hidden" name="_to" value="team@variantstudios.com">
    <input type="hidden" name="_subject" value="Contact Form">
    <input type="text" name="_gotcha" style="display: none;">
    <div class="webform-component">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required="">
    </div>
    <div class="webform-component">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required="">
    </div>

    <div class="webform-component">
        <label for="hear">How did you hear about Compass High School? </label><br>
        <input type="radio" name="hear" value="Family, friend, or colleague">Family, friend, or colleague<br>
        <input type="radio" name="hear" value="My child or child's friend">My child or child's friend<br>
        <input type="radio" name="hear" value="Radio">Radio<br>
        <input type="radio" name="hear" value="Newspaper">Newspaper<br>
        <input type="radio" name="hear" value="Internet (website, facebook, twitter, instagram, other)">Internet (website, facebook, twitter, instagram, other)<br>
        <input type="radio" name="hear" value="Other">Other<br>
        <input type="text" name="other" id="hear_other_text">
    </div>


    <div class="webform-component">
        <label for="interested">Do you have children that may be interested in attending Compass High School?</label><br>
        <input type="radio" name="interested" value="Yes, and I would like to learn more before I sign the 'Intent to Enroll' form on the website">Yes, and I would like to learn more before I sign the "Intent to Enroll" form on the website<br>
        <input type="radio" name="interested" value="Yes, and I already filled out the 'Intent to Enroll' form on the website">Yes, and I already filled out the "Intent to Enroll" form on the website<br>
        <input type="radio" name="interested" value="No, I do not have children/children of school age
">No, I do not have children/children of school age
            <br>
            <input type="radio" name="interested" value="Other">Other<br>
            <input type="text" name="other" id="interested_other_text">
    </div>




        <div class="webform-component">
            <label for="involved">Are you interested in getting more involved? We need volunteers for a variety of roles. Please select as many as apply, or suggest how you would like to utilize your own interests, skills, or talents for the benefit of the school development.</label><br>
            <input type="checkbox" name="involved" value="Assist with community meetings such as parent recruitment meetings">Assist with community meetings such as parent recruitment meetings<br>
            <input type="checkbox" name="involved" value="Assist with marketing and social media">Assist with marketing and social media<br>
            <input type="checkbox" name="involved" value="Offer pro bono services in areas such as graphic design, web design, or other art and design skills">Offer pro bono services in areas such as graphic design, web design, or other art and design skills<br>
            <input type="checkbox" name="involved" value="Grant research and writing">Grant research and writing<br>
            <input type="checkbox" name="involved" value="Assisting with recruitment of local business partners">Assisting with recruitment of local business partners<br>
            <input type="checkbox" name="involved" value="Fundraising">Fundraising<br>
            <input type="checkbox" name="involved" value="Event planning">Event planning<br>
            <input type="checkbox" name="involved" value="Cooking or baking for events and get togethers">Cooking or baking for events and get togethers<br>
                <input type="checkbox" name="involved" value="Other">Other<br>
                <input type="text" name="other" id="involved_other_text">
        </div>



    <div class="webform-component">
        <label for="availability">What is your availability for volunteering? (time of day, hours per week, time of year)</label>
        <textarea id="availability" name="availability" rows="3"></textarea>
    </div>
    <div class="g-recaptcha" data-sitekey="6LfB6RUUAAAAAEySJ7Fqc6dvL7oftcr1-l2ZANZA"></div><br>
    <input class="sendButton" type="submit" name="Submit" value="Send">
</form>

<p>Thank you for your interest in Compass High School! Someone will call you check in with you in the next few days. Also, we will keep you informed of our progress on the school development by email, and we will post updates to our website (compasshighschool.org) and our Facebook page (Compass High School Fort Collins).</p>
