.footer-wrapper {
    background-color: $color-two; // Deep sky blue
    // margin: 2rem 0 0 0;
    .footer-inner.clearfix.container-padding-medium {
        padding-bottom: 0;
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
            padding-bottom: 2rem;
        }
    }
    .footer-inner {
        p {
            color: #fff;
        }
        h2 {
            color: #fff;
            display: inline;
            font-size: 2rem;
            margin: 0 1rem 0 0;
            font-family: $font-family;
            font-weight: 900;
        }
        .one {
            @include breakpoint($bp-small, $no-query: ".no-mq") {
                @include grid-span(6, 1, $gutter: 0);
            }
            @include breakpoint($bp-large, $no-query: ".no-mq") {
                @include grid-span(4, 2, $gutter: 0);
            }
            .social-icons {
                display: flex;
                justify-content: center;
                margin-bottom: 1rem;
                @include breakpoint($bp-medium, $no-query: ".no-mq") {
                    justify-content: left;
                    margin-bottom: 0;
                }
                a {
                    margin: 0 .5rem;
                    &:first-child {
                        margin-left: 0;
                    }
                    img {
                        height: 60px;
                        width: 60px;
                    }
                    transition: all 0.2s ease;
                    text-decoration: none;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        .two {
            @include breakpoint($bp-small, $no-query: ".no-mq") {
                @include grid-span(6, 7, $gutter: 0);
            }
            @include breakpoint($bp-large, $no-query: ".no-mq") {
                @include grid-span(3, 6, $gutter: 0);
            }
        }
        .three {
            padding-top: 2rem;
            text-align: center;
            // @include grid-span(12, 1, $gutter: 0);
            clear: both;
            width: 100%;
            @include breakpoint($bp-large, $no-query: ".no-mq") {
                @include grid-span(3, 9, $gutter: 0);
                text-align: left;
                padding-top: 0;
            }
            .left {
                width: 100%;
                p {
                    margin: 0;
                    font-size: .9rem;
                }
                @include breakpoint(1200px, $no-query: ".no-mq") {
                    @include grid-span(8, 1, $gutter: 0);
                    text-align: left;
                    p {
                        margin: auto auto 1.5em;
                    }
                }
            }
            .right {
                display: none;
                @include breakpoint(1200px, $no-query: ".no-mq") {
                    display: block;
                    @include grid-span(4, 9, $gutter: 0);
                }
                text-align: left;
                img {
                    transition: all 0.2s ease;
                    text-decoration: none;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        .full {
            @include clearfix;
            width: 100%;
            text-align: center;
            p {
                font-size: .6rem;
                margin-bottom: .5rem;
                a {
                    color: #fff;
                    text-decoration: none;
                    font-weight: bold;
                    transition: all 0.2s ease;
                    &:hover {
                        color: $color-three;
                    }
                }
            }
            padding: 0 2rem;
            @include breakpoint($bp-large, $no-query: ".no-mq") {
                p {
                    font-size: .8rem;
                }
            }
        }
    }
    .footer-nav {
        &>ul.menu>li>a {
            font-weight: bold;
        }
        .menu {
            //padding: 0;
            margin: 0;
            font-size: 1em;
            li {
                list-style: none;
                display: block;
                position: relative;
                a {
                    transition: color .5s ease;
                    //display: block;
                    color: #fff;
                    text-decoration: none;
                    &:hover {
                        color: $color-three;
                    }
                    &:active {
                        position: relative;
                    }
                }
            }
        }
    }
}