--- 
layout: default 
---

<div class="subpage wrap clearfix">
    {% comment %} {{content}} {% endcomment %}
    <div class="logos">
        <h3>logos</h3>
    </div>
    <div class="figures">
        <h3>figures</h3>
    </div>
    <div class="content">
        <h3>Independent Self-Storage Entrepreneurs</h3>
        <p>GYS companies are setup as fully integrated self-storage specialist firms. The comprehensive, vertical integration of GYS companies comprises development and entitlement services, construction design and management, and comprehensive property management. In addition, the principles of the company are also investors in these self-storage projects. We handle all components at all stages of the project.</p>
        <p>After two plus decades of continual innovation in the development and management business, we have cultivated and formalized a series of methods for developing, building, operating, and owning self-storage properties. Our system yields consistently strong results across a broad range of facility sizes, classes, and geographies.</p>
    </div>
</div>