--- 
layout: default 
---
<div class="background">
    {% comment %}<img src="" alt="Compass background" class="bg"> {% endcomment %}
    <section class="subpage wrap">
        <div>{{ content }}</div>

        {% if page.permalink == "/contribute/" %} 
        {% include contribute.html %} 
        {% elsif page.permalink == "/faqs/" %} 
        {% include faqs.html %} 
        {% elsif page.permalink == "/contact-us/" %} 
        {% include contact-form.html %} 
        {% elsif page.permalink == "/search/" %}
        {% include google-search.html %} 
        {% endif %} 
        

    </section>
</div>