--- 
layout: default 
---

<main>
  <div class="subpage">
    <div class="content">
      {{ content }}
    </div>
    <div class="content">
        {% if page.permalink == "/development/assets/" or page.permalink == "/property-management/assets/" or page.permalink == "/general-contracting/assets/" %} 
            {% include_cached assets.html gys_company=page._gys_company %} 
        {% elsif page.permalink == "/faqs/" %} 
        {% include faqs.html %} 
        {% elsif page.permalink == "/contact-us/" %} 
        {% include contact-form.html %} 
        {% elsif page.permalink == "/search/" %}
        {% include google-search.html %} 
        {% endif %} 
    </div>
  </div>
</main>